.tab {
  width: 250px;
  min-height: 400px;
  // background-color: aqua;
  // border-radius: 8px;
  margin-top: 20px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;

  .image {
    background-size: cover;
    background-repeat: no-repeat;
    width: 250px;
    height: 350px;
    border: 1px solid white;
  }
  .title {
    width: 250px;
    text-overflow: ellipsis;
    text-align: center;
    margin-top: 5px;
    color: white;
  }

  title:hover {
    overflow: visible;
  }
}
